/* margin, padding, font-family, and box-sizing for the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body background color */
body {
    background: rgba(6, 28, 100, 0.74);
}


/* styling Main section */
.app {
    background-color: aliceblue;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
}

/* Heading style for the quiz */
.app h1 {
    text-align: center;
    font-size: 40px;
    color: rgba(62, 26, 207, 0.846);
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

/* animation */
.app h1 {
    -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}




/* Question style */
.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: blue;
    font-weight: 600;
}

/* Button style */
.btn {
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

/* Button hover effect */
.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

/* Next button style */
#next-btn {
    background-color: #0011e4;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    curson: pointer;
    display: none;
}

.correct {
    background: #00c656c8;
}

.incorrect {
    background: #ff0101da;
}